extends ../layout

block content
  .page-header
    h3 Sign in
    .form-horizontal
        .form-group
            .col-sm3
                a.btn.btn-block.btn-google.btn-social(href='/auth/google')
                    i.fa.fa-google-plus
                    | Sign in with Google